<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Angular-Inarray-Filter by alejandrocarrasco</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Angular-Inarray-Filter</h1>
          <h2>Filter results that are contained inside an array</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/alejandrocarrasco/angular-inarray-filter/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/alejandrocarrasco/angular-inarray-filter/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/alejandrocarrasco/angular-inarray-filter" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <h3>
<a name="welcome-to-angular-inarray-filter-repository" class="anchor" href="#welcome-to-angular-inarray-filter-repository"><span class="octicon octicon-link"></span></a>Welcome to Angular-InArray-Filter repository.</h3>

<p>Clone this repository:</p>

<pre><code>$ git clone https://github.com/alejandrocarrasco/angular-inarray-filter.git
</code></pre>

<p>If you're using the GitHub for Mac, simply sync your repository and you'll see the new branch.</p>

<h3>
<a name="description" class="anchor" href="#description"><span class="octicon octicon-link"></span></a>Description</h3>

<p>In this repository you can find a filter for AngularJS to filter results that are contained inside an array.</p>

<h3>
<a name="usage" class="anchor" href="#usage"><span class="octicon octicon-link"></span></a>Usage</h3>

<p>To use this filter you have to:
<ol>
    <li>Add the 'inArray' filter included in filters.js file directly to your filters folder/file</li>
    <li>Use angular notation to filter your repeaters:</li>
</ol>
<ul>
    <li>Filter by specific elements of the array:
    <pre><code>&lt;span ng-repeat='element in array | inArray:filterArray:"id"'&gt;{{element.id}} &lt;/span&gt;</code></pre>
    where <strong>inArray</strong> is the filter, <strong>filterArray</strong> (the first argument of this filter) is your array to match against, and "id" (second argument) is the element of the list you want to match against the array</li>
    <li>Filter a plain array:
    <pre><code>&lt;span ng-repeat='element in plainArray | inArray:filterArray'&gt;{{element}} &lt;/span&gt;</code></pre>
    where <strong>inArray</strong> is the filter, <strong>filterArray</strong> (the first argument of this filter) is your array to match against your plain array.</li>
</ul>
</p>
<h3>
<a name="samples" class="anchor" href="#samples"><span class="octicon octicon-link"></span></a>Samples</h3>

<p>Load this <a href="sample/app/index.html">page</a> to see a live sample using this filters.</p>
<p>First you'll find a sample filtering by specific elements of array. Second, you'll find a sample filtering plain arrays.</p>

<h3>
<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>This directive is created by Alejandro Carrasco (<a href="https://github.com/alejandrocarrasco" class="user-mention">@alejandrocarrasco</a>) and is released under the MIT License.</p>
        </section>

        <footer>
          Angular-Inarray-Filter is maintained by <a href="https://github.com/alejandrocarrasco">alejandrocarrasco</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>