<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Angular-Inarray-Filter by cyberdelphos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Angular-Inarray-Filter</h1>
      <h2 class="project-tagline">Filter results that are contained inside an array</h2>
      <a href="https://github.com/cyberdelphos/angular-inarray-filter" class="btn">View on GitHub</a>
      <a href="https://github.com/cyberdelphos/angular-inarray-filter/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/cyberdelphos/angular-inarray-filter/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h3>
<a id="welcome-to-angular-inarray-filter-repository" class="anchor" href="#welcome-to-angular-inarray-filter-repository" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to Angular-InArray-Filter repository.</h3>

<p>Clone this repository:</p>

<pre><code>$ git clone https://github.com/cyberdelphos/angular-inarray-filter.git
</code></pre>

<p>If you're using the GitHub for Mac, simply sync your repository and you'll see the new branch.</p>

<h3>
<a id="description" class="anchor" href="#description" aria-hidden="true"><span class="octicon octicon-link"></span></a>Description</h3>

<p>In this repository you can find a filter for AngularJS to filter results that are contained inside an array.</p>

<h3>
<a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage</h3>

<p>To use this filter you have to:
1. Add the 'inArray' filter included in filters.js file directly to your filters folder/file
2. Use angular notation to filter your repeaters:</p>

<ul>
<li>Filter by specific elements of the array:
<code>&lt;span ng-repeat='element in array | inArray:filterArray:"id"'&gt;{{element.id}} &lt;/span&gt;</code>
where <strong>inArray</strong> is the filter, <strong>filterArray</strong> (the first argument of this filter) is your array to match against, and "id" (second argument) is the element of the list you want to match against the array</li>
<li>Filter a plain array:
<code>&lt;span ng-repeat='element in plainArray | inArray:filterArray'&gt;{{element}} &lt;/span&gt;</code>
where <strong>inArray</strong> is the filter, <strong>filterArray</strong> (the first argument of this filter) is your array to match against your plain array.</li>
</ul>

<h3>
<a id="authors-and-contributors" class="anchor" href="#authors-and-contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>This directive is created by A. Carrasco (<a href="https://github.com/cyberdelphos" class="user-mention">@cyberdelphos</a>) and is released under the MIT License.</p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/cyberdelphos/angular-inarray-filter">Angular-Inarray-Filter</a> is maintained by <a href="https://github.com/cyberdelphos">cyberdelphos</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
