<h3>Testing inArrayFilter</h3>
<div class="panel panel-primary">
    <div class="panel-heading">
        Filter by field "id" of array
    </div>
    <div class="panel-body">
        <p>Array: {{array}}</p>
        <p>FilterArray: {{filterArray}}</p>
        <div class="alert alert-success">
            <p>Results:
                <span ng-repeat='element in array | inArray:filterArray:"id"'>{{element.id}} </span>
            </p>
        </div>
        Html code:
<pre>
&lt;span ng-repeat='element in plainArray | inArray:filterArray:"id"'>{{element}}&lt;/span>
</pre>
Javascript code:
<pre>
$scope.array = [
    {id: 'a'},
    {id: 'b'},
    {id: 'c'},
    {id: 'd'},
    {id: 'e'}
];

$scope.filterArray = ['b', 'c', 'd'];
</pre>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        Filter elements in array directly
    </div>
    <div class="panel-body">
        <p>Array: {{plainArray}}</p>
        <p>FilterArray: {{filterArray}}</p>
        <div class="alert alert-success">
            <p>Results:
                <span ng-repeat='element in plainArray | inArray:filterArray'>{{element}} </span>
            </p>
        </div>
        Html code:
<pre>
&lt;span ng-repeat='element in plainArray | inArray:filterArray'>{{element}}&lt;/span>
</pre>
        Javascript code:
<pre>
$scope.plainArray = ['a', 'b', 'c', 'd', 'e'];

$scope.filterArray = ['b', 'c', 'd'];
</pre>
    </div>
</div>
<hr />
<footer>
    <p>Copyright &copy; 2014 Alejandro Carrasco</p>
</footer>
